{% extends "base.html" %}
{% block content %}
<h2>Spare Parts</h2>
<!-- form for search -->
  <form method="GET" action="{{ url_for('stock.list_stock') }}" class="d-flex gap-2 mb-3">
  <input 
    type="text" 
    name="q" 
    class="form-control" 
    placeholder="Search by name or PartName" 
    value="{{ search_query }}"
    style="max-width: 300px; margin-right:20px;"
  >
  <button type="submit" class="btn btn-primary mr-3">Search</button>
  <a href="{{ url_for('stock.list_stock') }}" class="btn btn-secondary">Reset</a>
</form>




<!-- end the form -->
<a href="{{ url_for('stock.add_stock') }}" class="btn btn-primary mb-3">+ Add Spare Part</a>
<div class="table-responsive">
  <table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Part Number</th>
      <th>Quantity</th>
      <th>Location</th>
      <th>Action</th>

    </tr>
  </thead>
  <tbody>
    {% for part in stocks %}
    <tr>
      <td>{{ part.id }}</td>
      <td>{{ part.name }}</td>
      <td>{{ part.part_number }}</td>
      <td>{{ part.quantity }}</td>
      <td>{{ part.location }}</td>
       <td>
        <a href="{{ url_for('stock.edit_stock', part_id=part.id) }}" class="btn btn-warning btn-sm">Edit</a>
        <form action="{{ url_for('stock.delete_stock', part_id=part.id) }}" method="POST" style="display:inline;">
          <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
