{% extends "base.html" %}
{% block content %}
<h2>Consumables Log</h2>
<!-- serch section form  -->
  <form method="GET" action="{{ url_for('consumables.list_consumables') }}" class="d-flex gap-2 mb-3 flex-wrap">
  <input 
    type="text" 
    name="q" 
    class="form-control" 
    placeholder="Search by name, machine, or user" 
    value="{{ search_query }}"
    style="max-width: 250px;"
  >
  <input 
    type="date" 
    name="date" 
    class="form-control" 
    value="{{ date_query }}"
    style="max-width: 200px;"
  >
  <button type="submit" class="btn btn-primary">Search</button>
  <a href="{{ url_for('consumables.list_consumables') }}" class="btn btn-secondary">Reset</a>
</form>


<!-- end the section  -->
<a class="btn btn-primary mb-3" href="{{ url_for('consumables.new_consumable') }}">+ Log Consumable</a>
<div class="table-responsive">
  <table class="table table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Consumable</th>
      <th>Quantity</th>
      <th>Machine</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for c in consumables %}
    <tr>
      <td>{{ c.date_used.strftime('%Y-%m-%d %H:%M') }}</td>
      <td>{{ c.consumable_name }}</td>
      <td>{{ c.quantity }}</td>
      <td>{{ c.machine.name if c.machine else "-" }}</td>
      <td>{{ c.user.username }}</td>
     
        <td>
          <a href="{{ url_for('consumables.edit_consumable', usage_id=c.id) }}" class="btn btn-sm btn-warning">Edit</a>
          <form method="POST" action="{{ url_for('consumables.delete_consumable', usage_id=c.id) }}" style="display:inline;">
            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Delete this Consumable item?')">Delete</button>
          </form>
        
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>

{% endblock %}
